body {
  font-family: 'Monda', 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  line-height: 1.25;
}

h2 {
  font-size: 18px;
  line-height: 1.333;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  color: #2974f1;
  text-decoration: none;
}

pre, code {
  font-family: SourceHanCodeJP-Regular, monospace;
  font-size: 14px;
  line-height: 1.4rem;
}

ul, ol {
  margin: 1rem 0 1rem 1.5rem;
}

li {
  line-height: 2;
}

/* *** 全体サイズ *** */
.header-inner, .container{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}


/* *** 共通 *** */
.line-title {
  color: #737373;
  border-left: 4px solid #7FB4FF;
  padding: 4px 0 4px 8px;
  margin: 0 0 16px 0;
}


/* *** ヘッダー *** */
.header-outer {
  background-color: #434a54;
  height: 120px;
}

.header-inner {
  position: relative;
  top: 22px;
  height: 98px;
}

.header-title {
  float: left;
}

.header-social {
  float: right;
  margin-top: 42px;
}

.header-title a {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.187;
}

.header-title p {
  color: #ffffff;
  font-size: 16px;
  margin-top: 12px;
}

.header-social a {
  color: #ffffff;
}

.header-social ul {
  margin: 0;
  padding: 0;
}
.header-social ul:after {
  content: "";
  clear: both;
  display: block;
}

.header-social ul li {
  font-size: 14px;
  line-height: 1.429;
  list-style: none;
  float: left;
  width: 50px;
  border-left: 1px solid #dbdbdb;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.header-social li:first-child {
  border-left: none;
}


/* *** メイン *** */
.container {
  margin-top: 40px;
  display: -webkit-flex;
  display: flex;
}

main {
  display: block;
  -webkit-flex: 1;
  flex: 1;
  float: left;
}

.item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.item-meta {
  font-size: 14px;
  line-height: 1.429;
  margin-top: 12px;
}

.item-description {
  color: #676767;
  font-size: 14px;
  line-height: 1.429;
  margin-top: 12px;
}

.item-main h2 {
  border-bottom: 2px solid #dbdbdb;
  margin: 2rem 0 1rem 0;
  padding-bottom: 0.5rem;
  font-size: 18px;
}

.item-main h3 {
  margin: 2rem 0 1rem 0;
}

.item-main strong {
  color: #ED5565;
}

/* *** シングルページのナビゲーション *** */
nav.pagination-single {
  padding: 20px 0 20px 0;
  overflow: hidden;
}

nav.pagination-single span.previous {
  float: left;
  padding: 10px 0 10px 0;
  max-width: 300px;
}

nav.pagination-single span.next {
  float: right;
  padding: 10px 0 10px 0;
  max-width: 300px;
}

nav.pagination-single a {
  color: #29abe2;
}


/* *** サイドバー *** */
.side {
  float: right;
  margin-left: 40px;
  width: 180px;
}

.side-item {
  margin-bottom: 40px;
}

.side-item ul {
  margin-left: 1rem;
}

.side-item li {
  list-style: none;
  line-height: 1.5;
  margin-bottom: 4px;
}


/* *** フッター *** */
footer {
  margin-top: 80px;
  margin-bottom: 40px;
}

.footer-profile {
  text-align: center;
}

.footer-profile a,
.footer-profile a:focus,
.footer-profile a:hover,
.footer-profile a:active {
  color: #2974f1;
}

.profile-image {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

/* *** コメント *** */
#disqus_thread {
  margin-top: 60px;
}
