{{/*
    This is Single.html for About.
    Please customize for yourself.
    data file -> data/about/about.toml
*/}}

{{ partial "header.html" . }}

    <div class="ContentsContainer">
        <main class="MainContainer">
        {{ range .Site.Data.about.about.about }}
            <article class="PostItem">
                <div class="PostItem__head">
                    <div class="PostItem__title">
                        <h1>{{ .title }}</h1>
                    </div>
                    <div class="PostItem__meta">
                        <time datetime="{{ .update }}">
                            {{ .update }}
                        </time>
                    </div>
                </div>
                <div class="PostItem__body">
                    <p>
                    {{ .description_markdown | markdownify }}
                    </p>
                </div>
            </article>
        {{ end }}

            <div class="Disqus">
                {{ partial "disqus.html" . }}
            </div>

        </main>

        {{ partial "sidebar.html" . }}

    </div>

    {{ partial "footer.html" . }}
