<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
<title>
{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
</title>
<meta content='width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0' name='viewport'/>
<meta content='IE=Edge' http-equiv='X-UA-Compatible'/>
<!-- OGP -->
<meta content='mzgkworks.com' property='og:title'/>
<meta content='プログラマーの備忘録。小さな賭けを繰り返せ。' property='og:description'/>
<meta content='ja_JP' property='og:locale'/>
<meta content='http://mzgkworks.com' property='og:url'/>
<meta content='mzgkworks.com' property='og:site_name'/>
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/earlyaccess/notosansjp.css' rel='stylesheet' type='text/css'/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<!-- CSS -->
<link href="/css/masamune_reset.css" rel="stylesheet" type='text/css'/>
<link href="/css/masamune_theme.css" rel="stylesheet" type='text/css'/>
<link rel="stylesheet" href="/css/solarized-light.css">
<!-- RSS -->
<link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>


<body>
<header role="banner" class="header-outer">
  <div class="header-inner">
    <div class="header-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      {{ with .Site.Params.subtitle }}<p>{{ . }}</p>{{ end }}
    </div>
    <div class="header-social">
      <ul>
        <li><a href="{{ .Site.BaseURL }}/about/about">
          <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>
        </a></li>
        {{ with .Site.Params.twitter }}<li><a href="{{ . }}" target="_blank">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a></li>{{ end }}
        {{ with .Site.Params.facebook }}<li><a href="{{ . }}" target="_blank">
          <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a></li>{{ end }}
        {{ with .Site.Params.github }}<li><a href="{{ . }}" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a></li>{{ end }}
        {{ if .Site.Params.showsRSS }}<li><a href="{{ .Site.BaseURL }}index.xml" type="application/rss+xml" target="_blank">
          <i class="fa fa-rss fa-2x" aria-hidden="true"></i>
        </a></li>{{ end }}
      </ul>
    </div>
  </div>
</header>
