{{ partial "header.html" . }}

    <div class="ContentsContainer">
        <main class="MainContainer">
            <h1 class="AreaTitle">Posts</h1>

            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $paginator.Pages }}
            <article class="ListItem">
                <a href="{{ .Permalink }}">
                    <h2 class="ListItem__head">
                        {{ .Title }}
                        {{ if .Draft }}<font style="color:#f23d4c;"> :: DRAFT</font>{{end}}
                    </h2>
                </a>
                <div class="ListItem__body">
                    <time datetime="{{ .Date.Format "2006-01-01" }}">
                        {{ .Date.Format "2006.01.02" }}
                    </time>
                    &nbsp;&nbsp;
                    {{ range .Params.categories }}
                    <span>[<a href="./categories/{{ . | urlize }}">{{ . }}</a>]</span>
                    {{ end }}
                    {{ range .Params.tags }}
                    &nbsp;&nbsp;
                    <span>#<a href="./tags/{{ . | urlize }}">{{ . }}</a></span>
                    {{ end }}
                    <br>
                    <span>{{ .Params.description }}</span>
                </div>
            </article>
            {{ end }}

            <nav class="Pagenation">
                <div class="Pagenation__older">
                    {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        Older
                    </a>
                    {{ end }}
                </div>
                <div class="Pagenation__newer">
                    {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}">
                        Newer
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    {{ end }}
                </div>
            </nav>
        </main>

        {{ partial "sidebar.html" . }}

    </div>

    {{ partial "footer.html" . }}
