{{/*
    This is Single.html for Products.
    Please customize for yourself.
*/}}

{{ partial "header.html" . }}

    <div class="ContentsContainer">
        <main class="MainContainer">

<!-- iOS領域 : data/products/ios.toml -->
            <article class="PostItem">
                <div class="PostItem__head">
                    <div class="PostItem__title">
                        <h1>iOS</h1>
                    </div>
                    <div class="PostItem__meta">
                        <time datetime="{{ .Site.Data.products.ios.update }}">
                            {{ .Site.Data.products.ios.update }}
                        </time>
                    </div>
                </div>
                <div class="PostItem__body">

                {{ range .Site.Data.products.ios.product }}
                    <h2>{{ .title }}</h2>
                    <div class="Product">
                        <div class="Product__head">
                            <a href="{{ .url }}">
                                <img class="Product__app" src="{{ .image }}" alt="{{ .alt }}" />
                            </a>
                        </div>
                        <div class="Product__body">
                            <div class="Product__text">
                                <p>
                                    {{ .description_markdown | markdownify }}
                                    <br><br>
                                    {{ .keyword }}
                                    <br>
                                    {{ .release }}
                                    <br>
                                </p>
                            </div>
                            <div class="Product__link">
                                <a href="{{ .url }}">
                                    <img src="./images/appstore.png" alt="AppStore" class="AppStoreButton" />
                                </a>
                            </div>
                        </div>
                    </div>
                {{ end }}

                </div>
            </article>

<!-- Web領域 : data/products/web.toml -->
            <article class="PostItem">
                <div class="PostItem__head">
                    <div class="PostItem__title">
                        <h1>Web</h1>
                    </div>
                    <div class="PostItem__meta">
                        <time datetime="{{ .Site.Data.products.web.update }}">
                            {{ .Site.Data.products.web.update }}
                        </time>
                    </div>
                </div>
                <div class="PostItem__body">

                {{ range .Site.Data.products.web.product }}
                    <h2>{{ .title }}</h2>
                    <div class="Product">
                        <div class="Product__head">
                            <a href="{{ .url }}">
                            <img class="Product__web" src="{{ .image }}" alt="{{ .alt }}" />
                            </a>
                        </div>
                        <div class="Product__body">
                            <div class="Product__text">
                                <p>
                                    {{ .description_markdown | markdownify }}
                                    <br><br>
                                    {{ .keyword }}
                                    <br>
                                    {{ .release }}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                {{ end }}

                </div>
            </article>

            <div class="Disqus">
                {{ partial "disqus.html" . }}
            </div>

        </main>

        {{ partial "sidebar.html" . }}

    </div>

    {{ partial "footer.html" . }}
